@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

h1{
    font-family: "Love Ya Like A Sister", serif;
    font-size: 45px;
    text-align: center; 
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(250, 151, 245);
    background: linear-gradient(0deg, rgb(255, 187, 244) 0%, rgb(252, 200, 249) 34%, rgba(255,255,255,1) 100%);
}

#contendor{
    display: grid;
    place-items: center;
}

.botones{
    display: flex;
}

.boton{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    color: white;
    font-family: "Love Ya Like A Sister", serif;
    width: 100px;
    height: 47px;
    text-align: center;
    font-size: 25px;
}

.cartaa{
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 10px solid #f2f2f2;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.336);
}

.cartaa p{
    font-family: "Love Ya Like A Sister", serif;
}

.kitty{
    display: none;    
    width: 50vw;
}

.si{
    background-color: #0ea500;
    transition: 0.3s
}

.no{
    background-color: #d60000;
    transition: 0.3s
}

.si:hover{
    background-color: #086400;
}

.no:hover{
    background-color: #750000;
}


#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 35px !important;
    height: 100%;
    font-family: 'Zeyada';
    font-size: 25px;
}

.text_video{
    margin-top: 8px !important;

    font-family: 'Zeyada' !important;
    font-size: 20px;
    text-align: center;
}

.text_video_2{
    margin-top: 8px !important;
    font-family: 'Zeyada' !important;
    font-size: 25px;
    text-align: center;
}

#card_1{
    width: 384px;
    height: 450px;
    background-image: url("../img/corazon.png");
    transform: rotate(9deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

#card_2{
    width: 364px;
    height: 480px;
    background-image: url("../img/casa.jpg");
    transform: rotate(-10deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

video{
    width: 253px;
    height: 450px;
}

.video_7{
    width: 280px;
    height: 418px;
}

#card_3{
    width: 273px;
    height: 509px;
    /* background-image: url("../img/queso.mp4"); */
    transform: rotate(20deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 50px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

#card_4{
    width: 280px;
    height: 396px;
    background-image: url("../img/fami.jpeg");
    transform: rotate(-25deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

#card_5{
    width: 273px;
    height: 509px;

    transform: rotate(-30deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 50px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

#card_6{
    width: 206px;
    height: 381px;
    background-image: url("../img/lentes.jpeg");
    transform: rotate(40deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}


#card_7{
    width: 298px;
    height: 478px;
    transform: rotate(-30deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 50px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}



#card_8{
    width: 225px;
    height: 395px;
    background-image: url("/img/pelir.jpeg");
    transform: rotate(-10deg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid #f2f2f2;
    border-bottom: 40px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}


